html, body {
  max-width: 100%;
  /*overflow-x: hidden; DO NOT UNDER NO CIRCUMS USE DIIIS*/
  font-family: 'Arvo', sans-serif, Helvetica, sans-serif;
}

body {
  /*padding-top: 10%;*/
  height:100%;
}
/* == Globals == */



.navbar-default{
  background-color: #FFFFFF;
  background-image: none;
  background-repeat: no-repeat;
}

.section-header {
  text-align: center;
}

#logo {

  max-width: 60px;
  max-height: 50px;
  width: auto;
  height: auto;
  margin-left: 10px;
}


/* === NAVBAR === */

.nav .active a {
  color: #000000 !important;
  background: #FFFFFF!important;
}


.nav a{
  color: #808080!important;
}

.navbar-header {
  /* Changing the color here changes the color around brand area*/
  padding-bottom: 0px;
}

ul.nav {
  font-size: 15px; /* 13 */
  margin-top: 8px; /*25px */
}

.navbar-inverse .navbar-nav li  a {
  outline:none;
}

.navbar-toggle {
  outline: none;
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 16px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: #000000;
}

.navbar-brand{
  /*background-color: #000; /*colors the brand area*/
  margin-top: 0px;
  font-size: 25px;
}


/* === JUMBOTRON === */
#Home {

  background-image: url('mountains.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000000;
  width: 100%;
  padding: 0;
  display: block;
  position: relative;
  margin: 0;
  min-height: 100vh;
}


#Contact{
  width: 100%;
  background-image: url('persononrock.jpeg');
  background-attachment:  fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: cover; /*hvis vi har lyst på svarte kanter*/
  display: block;
  position: relative;
  max-width: none;
  min-height: 100vh;

}



.jumbotron article {
  padding-top: 20vh;
  text-align: center;
}

.jumbotron h1 {
  font-size: 40px;
  color: #000;

  /*text-shadow: -2px 2px black;*/
  letter-spacing: 2px;
  font-weight: 700;
  padding-bottom: 20px;
}

.jumbotron p.lead {
  color: #000;
  /*text-shadow: -2px 2px black;*/
  padding-bottom: 30px;
}


/* == Contact == */



.contact {
  text-align: center;
  color: #000;
  /*text-shadow: -1px 1px black;*/
  width: 100%;
  padding-top: 10%;
}

.contact h2{
  font-size: 40px;
  color:#000;
}

/* Responsive Design */
/*
@media (max-width: 768px) {

.navbar-fixed-top {
position: relative;
top: auto;
margin-bottom: 0;
}
}*/

.footer-section {
  min-height:40px;
  background:#2e2c28;
  border-top:3px solid #4e4b46;
  width:100%;
  background-position:bottom right;
  background-repeat:no-repeat;
  background-size:50%;
  padding:60px;
  color:#777;
}
